.titleWord {
    animation: color-animation 4s linear infinite;
}
  
.titleWord1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}
  
.titleWord2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
  
.titleWord3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
  
.titleWord4 {
    --color-1: #3D8DAE;
    --color-2: #DF8453;
    --color-3: #E4A9A8;
}
  
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}
  
  
.container {
    display: grid;
    place-items: center;  
    text-align: center;
    height: 100vh
}
  
.title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 8.5vw;
    text-transform: uppercase;
}

.background {
    background: linear-gradient(90deg, rgba(180,72,235,0.2091211484593838) 0%, rgba(253,29,69,0.15870098039215685) 50%, rgba(252,176,69,0.18671218487394958) 100%);
}

.titleStyle {
    font-size: 3vw;
    text-align: center;
    margin: 1% auto;
}

.titleWrapper {
    padding: 3%;
}

.mainBox {
    border-radius: 10px;
    border: black;
    background-color: #FFD1D1;
}

.mainText {
    padding: 23% 10% 5%;
    font-size: 2vw;
    font-weight: 3px;
    line-height: 180%;
}

/* 카카오버튼 */
.kakaoButton {
    cursor: pointer;
    border-radius: 5px;
    max-height: 4vw;
}

.kakaoButton:hover {
    transform: scale(1.1);
    box-shadow: #FC0 1px 0 20px;
}
