.background {
    background: linear-gradient(90deg, rgb(233, 210, 253) 0%, rgb(227, 223, 255) 25%, rgb(252, 227, 229) 47%, rgb(255, 253, 240) 70%, rgb(255, 248, 240) 80%, rgb(254, 239, 204) 91%);
}

.titleWrapper{
    text-align: center;
    padding: 50px 0;
}

h1.title span:first-child {
    display: inline;
    background-image: 
      linear-gradient(to right, rgb(255, 142, 4), rgb(246, 202, 254));
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-position: center;
  }

h1.title span:nth-child(2) {
    display: inline;
    background-image: 
      linear-gradient(to right, rgb(181, 218, 248), rgb(207, 213, 255));
    background-size: 100% 30%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
