.buttonbetween {
    margin-bottom: 10px;
    text-align: center;
}

.listbetween {
    margin-top: 30px;
    }

.cancelbutton {
    text-align: center;
}

.presentdetailhead {
    margin: 30px;
    text-align: center;
    font-size: 20px;
}

.box {
    border: 1px solid rgb(167, 167, 167);
    width: 300px;
    height: 300px;
}

.boxlocation {
    display: flex;
    justify-content: center;
}

.total {
    padding-bottom: 10px;
}