.backgroundtitle {
    font-size: 20px;
    font-weight: bold;
}

.backgroundcontent {
    margin: 20px;
}

.backgroundcontent img{
    margin: 0px 5px;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid rgb(219, 219, 219);
    cursor: pointer;
}

.selecttitle {
    font-weight: bold;
    margin-bottom: 10px;
}

.selectimage img{
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 30px;
    cursor: pointer;
}

.imagetitle {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

}

.imageupload {
    align-items: center;
    justify-content: center;
}

.deletebutton {
    padding: 10px 25px;
    background-color:#ff6161;
    border-radius: 4px;
    border: 0px;
    color: white;
    cursor: pointer;
}


.filebutton {
    margin-right: 10px;
    padding: 10px 25px;
    background:#ADD7E4;
    border-radius: 4px;
    color: white;
    cursor: pointer;
}

.deletebutton:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); 
    outline-color: rgba(255, 255, 255, 0); 
    outline-offset: 15px; 
    text-shadow: 1px 1px 2px #427388;  
}

.filebutton:hover {
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2); 
    outline-color: rgba(255, 255, 255, 0); 
    outline-offset: 15px; 
    text-shadow: 1px 1px 2px #427388;  
}

.tabhead {
    padding: 10px 10px 7px 10px;
    cursor: pointer;
    border-bottom: 2px solid rgb(219, 219, 219);
    margin-bottom: 15px;
}

.selecttab {
    padding:  10px 10px 7px 10px;
    border-bottom: 2px solid black;
    font-weight: bolder;
    margin-bottom: 15px;
}



/* rgb selector */
.color_picker_panel {
    background: #454c5a;
    width: 310px;
    border-radius: 8px;
    border: 2px solid #364347;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .4);
    color: #8b949a;
    letter-spacing: 0.05em;
    margin-top: 20px;
}

.panel_row {
    margin: 0 10px 10px;
    position: relative;
}

.panel_row:first-child {
    margin-top: 10px;
    margin-bottom: 10px;
}

.panel_row::after{
    content: '';
    display: table;
    clear: both;
}

.panel_header {
    background: #15191c;
    padding: 8px;
    margin: 0 -10px 10px;
    text-align: center;
}

.swatch {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #ccc;
    border-radius: 4px;
    margin-left: 4px;
    margin-bottom: 4px;
    box-sizing: border-box;
    border: 2px solid #364347;
    cursor: pointer;
}

.default_swatches {
    width: 212px;
}

.default_swatches .swatch:nth-child(6n+1) {
    margin-left: 0;
}

.color_cursor {
    border-radius: 100%;
    background: #ccc;
    box-sizing: border-box;
    pointer-events: none;
    position: absolute;
    z-index: 2;
    border: 2px solid #fff;
    transition: all 0.2s ease;
}

.color_cursor .dragging {
    transition: none;
}

.color_cursor #spectrum_cursor {
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    top: 0;
    left: 0;
}

.color_cursor #hue_cursor {
    top: 0;
    left: 50%;
    height: 20px;
    width: 20px;
    margin-top: -10px;
    margin-bottom: -10px;
    pointer-events: none;
}

.spectrum_map {
    position: relative;
    width: 212px;
    height: 200px;
    overflow: hidden;
}

#spectrum_canvas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ccc;
}

.hue_map {
    top: 5px;
    bottom: 5px;
    right: 29px;
    width: 10px;
}

#hue_canvas {
    border-radius: 8px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}